:root {
    --grid-cell-gap: 1px;
    --grid-padding: 2px;
    --grid-cell-size: 3rem;

    --banner-background: #00000099;

    --board-title-background: rgb(2, 110, 110);

    --tile-active: rgb(0, 253, 253);
    --tile-inactive: rgb(0, 199, 199);
    --tile-hovered: rgb(0, 183, 255);
}

/*
 * ------------------------------------------------------------
 * General Styling
 * ------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #b9b9b9;
}

.board-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #000000;
    box-shadow: 2px 10px 15px #000025;
}

/*
 * ------------------------------------------------------------
 * Board Styling
 * ------------------------------------------------------------
 */
.board-title {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 2rem;
    margin: 1px;

    color: #000000;
    background-color: var(--board-title-background);
}

.board-title-active {
    color: #ffffff;
}

.game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--grid-cell-gap);

    width: calc(calc(10 * var(--grid-cell-size)) + calc(var(--grid-padding) * 2) + calc(var(--grid-cell-gap) * 9));
    height: calc(calc(10 * var(--grid-cell-size)) + calc(var(--grid-padding) * 2) + calc(var(--grid-cell-gap) * 9));

    padding: 2px;

    background-color: #000000;
}

/*
 * ------------------------------------------------------------
 * Cell Styling
 * ------------------------------------------------------------
 */
.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--grid-cell-size);
    height: var(--grid-cell-size);
}

.water-cell {
    background-color: var(--tile-inactive);
}

.clickable {
    cursor: pointer;

    background-color: var(--tile-active);
}
.clickable:hover {
    background-color: var(--tile-hovered);
}

.ship-cell {
    background-color: rgb(197, 197, 197);
}

.miss-cell {
    background-color: #ffffff;
}

.hit-cell {
    background-color: red;
}

.ship-start {
    background-color: var(--tile-hovered);
}

/*
 * ------------------------------------------------------------
 * Message Styling
 * ------------------------------------------------------------
 */
.message-banner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 100%;

    margin-bottom: 1.5rem;
    padding: 1.5rem 0;

    font-size: xxx-large;
    font-weight: bold;
    color: white;
    background-color: var(--banner-background);
}